:root {
  --first-color: #ec7f11;
  --second-color: #fccf68;
  --third-color: #aebc1b;
  --light-color: #fff1f3;
  --text-font: "Work Sans";
  --title-font: "Chau Philomene One";
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  line-height: 40px;
}
a {
  text-decoration: none;
  color: inherit;
}
.span-orange {
  color: var(--first-color);
}
.span-yellow {
  color: var(--second-color);
}
.span-green {
  color: var(--third-color);
}
button {
  font-family: var(--text-font);
}

button:hover {
  cursor: pointer;
}
