.text-register {
  text-align: center;
  height: 40vh;
  background-color: var(--light-color);
  padding-top: 2em;
  h2 {
    color: var(--second-color);
    font-size: 4em;
  }
  .register-logo {
    position: absolute;
    width: 30%;
    left: 0%;
    top: 10%;
  }
  .login-decorative-pink {
    width: 300px;
    height: 300px;
  }
}
.register-p1 {
  margin-left: 10%;
  font-size: 1.5em;
  margin-top: 5%;
}
.register-p2 {
  margin-left: 10%;
  font-size: 1.5em;
}
.register-p3 {
  margin-left: 30%;
  font-size: 1.5em;
}

.form-register {
  text-align: center;

  form {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30vh;
    margin-left: 10%;
    justify-content: center;
  }

  h2 {
    font-family: var(--title-font);
    color: var(--first-color);
    font-size: 4em;
    text-align: center;
  }
  .input-register {
    background-color: var(--light-color);
    border: none;
    border-radius: 20px;
    height: 2em;
    padding: 1em;
    width: 80%;
  }
  button {
    border: none;
    background-color: var(--first-color);
    color: white;
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 25px;
    margin-top: 2em;
    font-size: 1.2em;
    margin-bottom: 2em;
  }
  .register-picture-container {
    background-color: var(--light-color);
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 1em;
  }
}
.register-page {
  background-color: var(--light-color);
}
@media screen and (max-width: 990px) {
  .text-register {
    text-align: center;
    height: fit-content;
    background-color: var(--light-color);
    padding-top: 2em;

    h2 {
      margin: 0.3em;
      font-size: 2em;
    }
    div {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 1em;
    }
    .register-logo {
      position: inherit;
      width: 50%;
    }
  }
  .register-p1 {
    margin: 0;
  }
  .register-p2 {
    margin: 0;
  }
  .register-p3 {
    margin: 0;
  }

  .form-register {
    form {
      text-align: left;
      display: flex;
      height: fit-content;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      margin: 0.5em;
    }
    h2 {
      font-family: var(--title-font);
      color: var(--first-color);
      font-size: 3em;
      text-align: center;
    }
    .input-register {
      background-color: var(--light-color);
      border: none;
      border-radius: 20px;
      height: 2em;
      padding: 1em;
      width: 100%;
    }
    .legals {
      width: 90%;
      margin: auto;
    }

    .register-picture-container {
      background-color: var(--light-color);
      width: 80%;
      margin: 1em auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      padding-bottom: 1em;
    }
  }
}
